.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #01b2ee;
  color: "red";
  padding: 0 20px;
}
.header > * {
  cursor: pointer;
}
.header_logo_container {
  width: 50%;
}

.header_logo_text {
  color: #fff;
}

.header_right_side_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.header_mail_container {
  display: flex;
}

.header_heart_container {
}

.header_cart_container {
}

.header_user_container {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header_user_item_without_arrow {
  display: flex;
  align-items: center;
  position: relative;
}
.header_user_item {
  display: flex;
  align-items: center;
  position: relative;
}
.header_user_item::before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  clear: both;
}

.header_location_container {
  display: flex;
  align-items: center;
  height: 100%;
}

.header_right_side_text {
  color: #fff;
  margin-left: 10px;
  font-size: 16px;
}

.dropbtn {
  height: 100%;
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  justify-content: center;
  height: 100%;
}

.dropdown_content {
  display: block;
  top: 60px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1004;
}
.dropdown_user_content {
  display: block;
  top: 60px;
  right: 100px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1004;
}
.header_location_item {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.header_location_item_arrow {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.header_location_item::before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  clear: both;
}
.dropdown_content a,
.dropdown_user_content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover,
.dropdown_user_content a:hover {
  background-color: #f1f1f1;
  color: #01b2ee;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
}

@media (max-width: 1087px) {
  .header {
    justify-content: space-between;
  }
  .header_mail_container,
  .header_user_container,
  .header_cart_container,
  .header_heart_container {
    display: none;
  }
}
